{% extends "indiaproject/templates/main.html" %}
{% block bottomrow %}
<!DOCTYPE html>
<html>
<head>
	<title>bottomrow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			box-sizing: border-box;
	
		}
		.bg-img {
			background-color: #aaa;
		}
		.row {
			content: "";
			display: table;
			clear: both;
		}
		.column {
			float: left;
			width: 25%;
			padding: 10px;
		}
		@media screen and (max-width: 900px){
		.column {
			width: 100%;

		}
	}
	@media screen and (max-width: 900px){
		.column {
			width: 200%;

		}
	}
	@media screen and (max-width: 900px){
		.column {
			width: 300%;

		}
	}

	</style>
</head>
<body>
	<div class="bg-img">
		<div class="row">
			<div class="column" >
				<h2>Popular Cities</h2>
				<li><p href=#></p>Pune</li>
				<li><p href=#></p>Bangalore</li>
				<li><p href=#></p>Hyderabad</li>
				<li><p href=#></p>Chennai</li>
				<li><p href=#></p>Delhi</li>
				<li><p href=#></p>Mumbai</li>
				<li><p href=#></p>Gurgaon</li>
				<li><p href=#></p>Kolkata</li>
				<li><p href=#></p>Noida</li>
				<li><p href=#></p>Nagpur</li>
				<li><p href=#></p>Guwahati</li>
				<li><p href=#></p>Jaipur</li>
				<li><p href=#></p>Lucknow</li>
				<li><p href=#></p>Coimbatore</li>
				<li><p href=#></p>Bhopal</li>
				<li><p href=#></p>Ahmedabad - Gandhinagar</li>
				<li><p href=#></p>Indirapuram - Ghaziabad</li>
				<li><p href=#></p>Surat</li>
				<li><p href=#></p>Mubai - Navi Mumbai</li>
				<li><p href=#></p>Mysore</li>
				<li><p href=#></p>Greater Noida</li>
				<li><p href=#></p>Chandigarh</li>
			</div>
			<div class="column">
				<h2>Popular cuisines</h2>
				<li><p href=#></p>Biryani in Hyderabad</li>
				<li><p href=#></p>Biryani in Bangalore</li>
				<li><p href=#></p>Ice Cream in Bangalore</li>
				<li><p href=#></p>Biryani in Chennai</li>
				<li><p href=#></p>Vegetarian in Delhi</li>
				<li><p href=#></p>Ice Cream in Hyderabad</li>
				<li><p href=#></p>Cakes in Bangalore</li>
				<li><p href=#></p>Cakes in Mumbai</li>
				<li><p href=#></p>Pizza in Hyderabad</li>
				<li><p href=#></p>Pizza in Chennai</li>
				<li><p href=#></p>Biryani in Pune</li>
				<li><p href=#></p>Biryani in Kolkata</li>
				<li><p href=#></p>Vegetarian in Hyderabad</li>
				<li><p href=#></p>Pizza in Kolkata</li>
				<li><p href=#></p>Pizza in Bangalore</li>
				<li><p href=#></p>Chinese in kolkata</li>
				<li><p href=#></p>Cakes in Hyderabad</li>
				<li><p href=#></p>Vegetarian in Mumbai</li>
				<li><p href=#></p>Burgers in Bangalore</li>
				<li><p href=#></p>Pizza in Delhi</li>

			</div>
			<div class="column">
				<h2>Popular restaurants</h2>
				<li><p href=#></p>Leaping Caravan</li>
				<li><p href=#></p>Dana Choga's Kitchen</li>
				<li><p href=#></p>Dominos Kolkata</li>
				<li><p href=#></p>Happy Hakka</li>
				<li><p href=#></p>Freshies Gourmet Salads</li>
				<li><p href=#></p>Pind Balluchi Gurgaon</li>
				<li><p href=#></p>Abhiruchi Hotel</li>
				<li><p href=#></p>Sumo Sushi</li>
				<li><p href=#></p>Desi Vibes</li>
				<li><p href=#></p>Birinz</li>
				<li><p href=#></p>Biryani Blues</li>
				<li><p href=#></p>Tughlaq</li>
				<li><p href=#></p>KB Spicy Kitchen</li>
				<li><p href=#></p>Organic Express</li>
				<li><p href=#></p>Biryani Pot</li>
				<li><p href=#></p>Domino's online order</li>
				<li><p href=#></p>Kritunga Restaurant</li>
				<li><p href=#></p>Haldiram</li>
				<li><p href=#></p>Satgurus Punjabi</li>
				<li><p href=#></p>Eagle Boys Pizza</li>
				<li><p href=#></p>Ammis Biryani</li>
			
			</div>
			<div class="column">
				<h2>Indian Restaurent</h2>
				<li><p href=#></p>About us</li>
				<li><p href=#></p>Terms and Conditions</li>
				<li><p href=#></p>Privacy Policy</li>
				<li><p href=#></p>How it Works</li>
				<li><p href=#></p>Price Promise</li>
				<li><p href=#></p>Partner with us</li>
				<li><p href=#></p>Indian Restaurent coupons</li>				
			</div>
		</div>
	</div>

</body>
</html>
{% endblock %}